<h1>Authors</h1>

<th>
  <% @authors.each do |author| %>
    <tr>
    <td>
    <%= link_to author.name, author_path(author) %>
    </td>
    <br>
    </tr>
  <% end %>
</th>
<br>
<%= link_to "New Author", new_author_path %>
